[style-mode='dark'] body {
	--color1: #333;
	--color2: #00a851;
	--color3: #2a2aff;

	--bg1: #fff4ea;
	--bg2: #c2ffdf;
	--bg3: #d3d3d3;
}

[style-mode='light'] body {
  --color1: #333;
	--color2: #00a851;
	--color3: #2a2aff;

	--bg1: #fff4ea;
	--bg2: #c2ffdf;
	--bg3: #d3d3d3;
}

body {
  line-height: 20px;
  color: var(--color1);
  font-size: 14px;
}

.main-container {
  max-width: 600px;
}

.secondary-container {
  min-width: 260px;
  position: fixed;
  overflow: auto;
  max-height: 100vh;
  padding: 20px;
}

blockquote {
  padding: 10px 20px;
  font-size: 16px;
  font-style: italic;
  line-height: 22px;
}

strong {
  font-weight: bold;
}

a {
  text-decoration: none;
}

.justified-header {
  display: flex;
  align-items: center;
  font-family: "Cutive Mono", monospace;
}

.jh-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
}